+b.SECTION.sectionOrder.section
  +e.container.container
    +e.H2.title.title You will be&nbsp;surprised how affordable Partner&trade;&nbsp;is!
    +e.FORM.form.d-flex.flex-column.align-items-center(method="POST")
      +e.H3.formTitle.title See how much would Partner&trade; cost in&nbsp;Miami
      +e.formImg
        +picture({img: "house", alt: "house in miami", type: "png", width: 248, height: 126})
      +e.formText Select your approximate home square footage
      +e.UL.formList.row.no-gutters.mx-n1.mx-n2.justify-content-center
        +e.LI.spacer.col-2.col-lg-1.order-lg-first
        +e.LI.formItem.col-4.px-1.px-lg-2.mb-1.col-lg-2
          +radioInput('footage', 1000, 'footage-radio-1')
        +e.LI.formItem.col-4.px-1.px-lg-2.mb-1.col-lg-2
          +radioInput('footage', 1500, 'footage-radio-2')
        +e.LI.spacer.col-2.col-lg-1.order-lg-last
        +e.LI.formItem.col-4.px-1.px-lg-2.mb-1.col-lg-2
          +radioInput('footage', 2000, 'footage-radio-3')
        +e.LI.formItem.col-4.px-1.px-lg-2.mb-1.col-lg-2
          +radioInput('footage', 2500, 'footage-radio-4')
        +e.LI.formItem.col-4.px-1.px-lg-2.mb-1.col-lg-2
          +radioInput('footage', 3000, 'footage-radio-5')
      +btn('submit', 'Estimate Partner Cost', '')
