.sectionOrder {
  background-color: $primary;
}

.sectionOrder__title {
  margin: 0 0 20px 0;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: $white;

  @include min($lg) {
    font-size: 27px;
    line-height: 36px;
    margin-bottom: 25px;
  }
}

.sectionOrder__form {
  background-color: $white;
  border-radius: 8px;
  padding: 16px 15px 24px;

  @include min($lg) {
    padding: 40px 0;
  }
}

.sectionOrder__formTitle {
  margin: 0 0 11px 0;
  font-size: 20px;
  line-height: 26px;
  text-align: center;

  @include min($lg) {
    font-size: 27px;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

.sectionOrder__formImg {
  margin-bottom: 11px;

  & img {
    display: block;
  }
}

.sectionOrder__formText {
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 15px 0;
  text-align: center;

  @include min($lg) {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 15px;
  }
}

.sectionOrder__formList {
  @include lsr;
  width: 100%;
  margin-bottom: 26px;
}
