.sectionHero {
  padding-top: 25px;
  padding-bottom: 40px;

  @include min($lg) {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.sectionHero__text {
  margin: 0 0 25px 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  color: $black;

  @include min($lg) {
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 50px;
  }
}

.sectionHero__accent {
  font-weight: 700;
  color: $primary;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  @include min($lg) {
    font-size: 50px;
    line-height: 60px;
  }
}

.sectionHero__featuresCard {
  height: 100%;
  border-radius: 8px;
  padding: 20px 16px;
  background-color: $bg;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include min($lg) {
    padding: 30px 18px;
  }
}

.sectionHero__featuresIcon {
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 17px;
  color: $primary;

  @include min($lg) {
    min-height: 66px;
  }

  &:nth-child(1) {
    & svg {
      width: 70px;
      height: 59px;
    }
  }

  &:nth-child(2) {
    & svg {
      width: 70px;
      height: 53px;
    }
  }

  &:nth-child(3) {
    & svg {
      width: 60px;
      height: 66px;
    }
  }

  &:nth-child(4) {
    & svg {
      width: 70px;
      height: 46px;
    }
  }
}

.sectionHero__featuresText {
  width: 100%;
  text-align: center;
  line-height: 21px;
  margin: 0;

  @include min($lg) {
    font-size: 20px;
    line-height: 28px;

    & br {
      display: none;
    }
  }
}
