.btn {
  max-width: 308px;
  width: 100%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 24px 24px 29px;
  margin: 0;
  background-color: $secondary;
  border: none;
  border-radius: 8px;
  color: $white;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  box-shadow: 0 -5px #CA7600 inset;
  cursor: pointer;
  transition: all 0.3s linear;

  &:hover {
    box-shadow: 0 -2px #CA7600 inset;
    padding-bottom: 26px;
    margin-top: 3px;
  }
}
