.sectionAdvantages {

}

.sectionAdvantages__inner {
  display: none;

  @include min($lg) {
    display: block;
  }
}

.sectionAdvantages__title {
  text-align: center;
  margin: 0 0 15px 0;
}

.sectionAdvantages__text {
  margin: 0 0 25px 0;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
}

.sectionAdvantages__list {
  @include lsr;
  margin-bottom: 40px;
}

.sectionAdvantages__card {
  background-color: $primary;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;

  &:hover img {
    transform: scale(1.1);
  }
}

.sectionAdvantages__img {
  overflow: hidden;
  position: relative;
  height: 126px;

  & img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s linear;
    object-fit: cover;
  }
}

.sectionAdvantages__cardTitle {
  margin: 0;
  color: $white;
  font-size: 21px;
  line-height: 27px;
  font-weight: 500;
  text-align: center;
  padding: 15px;
}

.sectionAdvantages__note {
  margin: 0;
  line-height: 24px;

  @include min($lg) {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
  }
}
