- const advantagesData = getData('advantagesData');

+b.SECTION.sectionAdvantages.section
  +e.container.container
    +e.inner
      +e.H2.title.title How We&nbsp;Keep Low Prices
      +e.P.text We&nbsp;are the only installer of&nbsp;Partner&trade; in&nbsp;the United States, providing homeowners with one single point of&nbsp;contact for sales and service. By&nbsp;not relying on&nbsp;an&nbsp;independent dealer network, we&nbsp;are able to&nbsp;maintain a&nbsp;high level of&nbsp;quality control and service. And, since there is&nbsp;no&nbsp;middle man, we&nbsp;pass the savings on&nbsp;to&nbsp;you!
      +e.list
        .row
          each card in advantagesData
            .col-lg-3
              +e.card
                +e.img
                  +picture({img: card.img, alt: card.alt, type: 'png', width: 255, height: 126})
                +e.H3.cardTitle !{card.title}
    +e.P.note * - The actual installation time may vary depending on&nbsp;home size, weather conditions, scope of&nbsp;work, etc..

