mixin icon(iconName)
  svg&attributes(attributes)
    use(xlink:href=`img/sprite.svg#icon_${iconName}`)

mixin picture(options)
  - defOpts = {img: '', alt: 'description', type: 'jpg', width: '200', height: '100', mq: [],}
  - res = Object.assign({}, defOpts, options)
  picture
    if res.mq
      each mq, index in res.mq
        source(type="image/webp" media="(min-width: " + mq.value + "px)", srcset="img/" + mq.img + "@2x.webp 2x,  img/" + mq.img + ".webp 1x")/
        source( media="(min-width: " + mq.value + "px)", srcset="img/" + mq.img + "@2x." + res.type + " 2x,  img/" + mq.img + "." + res.type + " 1x")/

    source(type="image/webp" srcset="img/" + res.img + "@2x.webp 2x,  img/" + res.img + ".webp 1x")/
    source(srcset="img/" + res.img + "@2x." + res.type + " 2x,  img/" + res.img + "." + res.type + " 1x")/
    img(src="img/" + res.img + "." + res.type + "" alt=res.alt, width=res.width, height=res.height, loading="lazy")
