extends ../layout/layout

block variables
  - var pageTitle = 'main'

block content
  include ../../blocks/mainHeader/mainHeader
  include ../../blocks/sectionHero/sectionHero
  include ../../blocks/sectionInfo/sectionInfo
  include ../../blocks/mainFooter/mainFooter
