.sectionInfo {
  background-color: $bg;
}

.sectionInfo__list {
  @include lsr;
}

.sectionInfo__cardTitle {
  margin: 0 0 15px 0;
}

.sectionInfo__cardText {
  margin: 0 0 20px 0;
  line-height: 24px;

  @include min($lg) {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0;
  }
}

.sectionInfo__cardImg {
  border-radius: 8px;
  overflow: hidden;

  & img {
    display: block;
    width: 100%;
  }
}
