@include font("Montserrat", montserrat-regular, 400);
@include font("Montserrat", montserrat-medium, 500);
@include font("Montserrat", montserrat-semibold, 600);
@include font("Montserrat", montserrat-bold, 700);

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: $black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.body-lock {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.section {
  padding-top: 35px;
  padding-bottom: 35px;

  @include min($lg) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.title {
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 20px 0;

  @include min($lg) {
    font-size: 27px;
    line-height: 36px;
    margin-bottom: 25px;
  }
}
